---
title: "Starknet Accounts Dashboard"
jupyter: python3
number-sections: false
highlight-style: pygments
format:
  html:
    max-width: 1400px
    code-fold: true
    highlight-style: dracula
    css: styles.css
    toc: true
    toc-location: right
    toc-expand: 2
    anchor-sections: true
    smooth-scroll: true
navbar:
  title: "sdfgsdfgdfsgdh"

---

In [2]:
import pandas as pd
import json
from utils.query import query_account_creates, query_account_upgrades

# aaa

### agsdg

In [3]:
# Query and save data

## account_creates
account_creates_list = query_account_creates()

## account_upgrades
account_upgrades_list = query_account_upgrades()

## save data
last_query_block = account_creates_list[-1]['created_at_block'] - 1
with open(f'data/account_creates_up_to_block_{last_query_block}.json', 'w') as f:
    json.dump({"account_creates":account_creates_list}, f)

with open(f'data/account_upgrades_up_to_block_{last_query_block}.json', 'w') as f:
    json.dump({"account_creates":account_upgrades_list}, f)

In [4]:
pd.DataFrame(account_creates_list)

,id,from_address,created_at,created_at_block
0,0x2b5f4af6bc5cfb032c83baef17ca99ee46f2d60997d5...,0x2a7f765dc8a9030e3ec393f51d5b0244a21ae55b7148...,1655372577,2710
1,0x3ef53cf0fbad0edde37c1ee24ebc57433f39728dcaa9...,0x179b1211aed20097bbba0369088db3d30ece0550015c...,1655380283,2711
2,0x5f733c678cdcf3600e623c82be5fc773c487f361f164...,0x623efd6c07c219834db614400804e244b1cadfb6016c...,1655390756,2713
3,0x6e884ba9506e4729858852c7097d6e741a8e4f5508ca...,0x2f9aa38ee23fba8b283af247c603b05b2eaa160d68aa...,1655397921,2714
4,0x2d895f0a23171d5a008072c74b8169938e19834870d4...,0x35cc2db92bd5f244ccee2afcf14a9bca0ec5243f0b09...,1655405163,2715
...,...,...,...,...
281206,0x62a3491cc157184a16b67909ab10b9bcf9347e106719...,0x163893a74b08f44fa8f86d170e2a66f8c37d37408796...,1671772168,17371
281207,0x64ae7917e8c74024b9fae833017a076f3eeaaf7f3319...,0x34a7cfb7499ae798a5ee0340517d354962212c5baec2...,1671772168,17371
281208,0x6919a2d0717b2407d262619223d8b4f98ded714ff6c6...,0x18b12053d801e66a604d6e49eb7f5f86e5ea3b143b62...,1671772168,17371
281209,0x6640613f656eeb0aeb890998ff5954f7a6ad2c7c6b86...,0x501e20f8281cd2d53965d5b12923bf3b695538641721...,1671772168,17371
281210,0x3c24d01068c9cbedcd94998ae4e85ef5ad82804f2c1b...,0x25575dde0698f138f5e39b55933bd915a085a9839d4f...,1671772168,17371

In [5]:
pd.DataFrame(account_upgrades_list)

,id,from_address,created_at,created_at_block,implementation
0,0x124ccb5b22d5cd751008d2d1dca3bb9f1c145f694ada...,0x655d962eb3986f736caf9c27b425595855012b85afb0...,1650593011,1841,0x1bd7ca87f139693e6681be2042194cf631c4e8d77027...
1,0x1b18b3290be8554ffd6e2460c386373ae8ab5d4b5be0...,0x2ec7ac67d306407f0c2a0a367e7ba13ba53197d41558...,1650639147,1847,0x1bd7ca87f139693e6681be2042194cf631c4e8d77027...
2,0x2314a266427aa7705d6ebaadb08b0b0c3adc4a8131d9...,0x4944d439be5d7250e7691b9d399d7f996370256fac20...,1650639147,1847,0x1bd7ca87f139693e6681be2042194cf631c4e8d77027...
3,0x459be971b14ec5de49d93d2456ac30aa2d8997c936d1...,0x15aef0dd2b763c16008e6f5bf7ddd73dc40c8cec4972...,1650639147,1847,0x1bd7ca87f139693e6681be2042194cf631c4e8d77027...
4,0x6954966b18946916cc40c43be79370dfadfe4079ffa4...,0xe916eda2b5c226f6994c74a9fa05f6f0971672e91398...,1650639147,1847,0x1bd7ca87f139693e6681be2042194cf631c4e8d77027...
...,...,...,...,...,...
57116,0x76ba9a73816abcb6f3b9419934f80f3ddc03e4b6cd03...,0x5e87514c0b6e962ba589ae9dcdfa1e48afea6a1c7ba8...,1671772168,17371,0x33434ad846cdd5f23eb73ff09fe6fddd568284a0fb7d...
57117,0x1bdedcb65300141dbdfe4dfa045e5eaff212cb71b606...,0x1c69124ad98dc23bf50f264c505aa80097994a31b614...,1671772168,17371,0x33434ad846cdd5f23eb73ff09fe6fddd568284a0fb7d...
57118,0x18a68d1c93f540972cbbbbd23091290b1cf61bab3eef...,0x65f42f7d53a75bfe30c8ebec7f1d22486e1e39aa82b6...,1671774344,17373,0x33434ad846cdd5f23eb73ff09fe6fddd568284a0fb7d...
57119,0x6a9e377b1926446927fe3592d87673863456f3e45374...,0x34bf61c8bf811ac1b02d99e511a4332d395730aa818b...,1671774344,17373,0x33434ad846cdd5f23eb73ff09fe6fddd568284a0fb7d...
57120,0x58f6b35ba1bbeea367c90ce9f07a56db7831df51e815...,0x6677a73fbc0b56b893381768c59b81df60aa55e2a8a0...,1671775121,17374,0x33434ad846cdd5f23eb73ff09fe6fddd568284a0fb7d...